@{
    ViewData["Title"] = "Home Page";
}
<div class="text-center mybackground">
    <br />
    <br />
    <br />
    <h1 class="display-4">员工人事调动管理系统</h1>
    <br />
    <br />
    <h5>Welcome to the personnel transfer management system</h5>
    <br />
    <br />
    <br />
    <br />
    <br />
    <br />
    <h5><strong>请支持国产</strong></h5>
    <h5><small><s>支持支付宝,微信赞助，赞助电话18101057510</s></small></h5>

</div>



